<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All Subscribers</h3>
          <p>From here you can manage your Subscribers</p>
          <button class="btn btn-warning ml-2" routerLink="/">Back to dashboard</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let sub of subArray; let i = index" >
                <td *ngIf ="!sub.data.isAdded">{{i+1}}</td>
                <td *ngIf ="!sub.data.isAdded">{{sub.data.name}}</td>
                <td *ngIf ="!sub.data.isAdded">{{sub.data.email}}</td>
                <td *ngIf ="!sub.data.isAdded">
                  <button class="btn btn-sm btn-danger ml-2" (click)="onDeleteConfirmation(sub.id)">Delete</button>
                  <button class="btn btn-sm btn-info ml-2" (click)="onAdded(sub.id, true)">Mark Added</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
