<div class="container">
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect" routerLink="/categories">
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fa-solid fa-clipboard-list"></i></h1>
          <h2 class="text-theme-primary">Category</h2>
          <p>Manage Your Category Details Here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect" routerLink="/posts">
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fa-solid fa-file-image"></i></h1>
          <h2 class="text-theme-primary">Posts</h2>
          <p>Manage Your Posts Details Here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect" routerLink="/">
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fa-solid fa-file-image"></i></h1>
          <h2 class="text-theme-primary">Comments</h2>
          <p>Manage Your Comments Here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect" routerLink="/">
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fa-solid fa-file-image"></i></h1>
          <h2 class="text-theme-primary">Contact Forms</h2>
          <p>Manage Your Contact Leads Here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect" routerLink="/subs">
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fa-solid fa-file-image"></i></h1>
          <h2 class="text-theme-primary">Subscribers List</h2>
          <p>Manage Your Subscribers Here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect" routerLink="/">
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fa-solid fa-file-image"></i></h1>
          <h2 class="text-theme-primary">Users List</h2>
          <p>Manage Your Users Here</p>
        </div>
      </div>
    </div>
  </div>
</div>
